<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer_no_main.css">
    <link rel="stylesheet" href="/css/archive/archive.css">

</head>
<body>
<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/select-template">Выбор шаблона</a>
        <a href="/upload_template">Загрузка шаблона</a>
        <a href="/categories">Управление категориями</a>
        <a href="/documents">Архив</a>
    </nav>
</header>
<div class="container">
    <div class="search-container">
        <h1>Document Archive</h1>
        <form th:action="@{/search}" method="get">
            <div class="form-group">
                <label for="name">Search by Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Document Name">
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate" class="form-control">
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate" class="form-control">
            </div>
            <button type="button" class="btn btn-primary">Сброс</button>
        </form>
    </div>
    <div class="results-container">
        <h2>Documents</h2>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.Id}"></td>
                    <td th:text="${document.Name}"></td>
                    <td th:text="${#dates.format(document.dateCreate, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Все права защищены</p>
</footer>

<script src="/js/archive/archive.js"></script>\
</body>
</html>
