<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/categories/categories.css">
    <link rel="stylesheet" href="/css/footer_no_main.css">

<body>
<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/select-template">Выбор шаблона</a>
        <a href="/upload_template">Загрузка шаблона</a>
        <a href="/categories">Управление категориями</a>
        <a href="/documents">Архив</a>
    </nav>
</header>
<div class="container mt-5">
    <h1 class="text-center">Управление категориями</h1>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <input type="text" id="searchCategory" class="form-control" placeholder="Поиск категории по имени">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <input type="text" id="newCategoryName" class="form-control" placeholder="Введите имя новой категории">
            <button class="btn btn-primary btn-block mt-2" onclick="addCategory()">Создать новую категорию</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3 content" id="categoryList">
            <!-- Список категорий -->
        </div>
    </div>
</div>

<!-- Скрытое поле для хранения категорий -->
<input type="hidden" id="categoriesData" th:value='${categoriesJson}' />

<footer>
    <p>&copy; 2024 Все права защищены</p>
</footer>

<script src="/js/categories/categories_request_script.js"></script>\
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>