<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список шаблонов</title>
    <link rel="stylesheet" href="/css/footer_no_main.css">
    <link rel="stylesheet" href="/css/selection/selection.css">

</head>
<body>
<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/select-template">Выбор шаблона</a>
        <a href="/upload_template">Загрузка шаблона</a>
        <a href="/categories">Управление категориями</a>
        <a href="/documents">Архив</a>
    </nav>
</header>
<div class="container">
    <div class="categories">
        <h2>Категории</h2>
        <div th:each="category : ${categories}" class="category">
            <input type="checkbox" th:id="'category' + ${category.id}" class="category-checkbox" th:data-category-id="${category.id}">
            <label th:for="'category' + ${category.id}" class="custom-checkbox"></label>
            <span th:text="${category.categoryName}">Категория</span>
        </div>
    </div>
    <div class="templates">
        <h2>Шаблоны</h2>
        <div class="search">
            <input type="text"  id="searchInput" placeholder="Поиск по названию">
        </div>
        <div class="template-list-container" id="templateList">
            <!-- Здесь будут отображаться шаблоны -->

            <div th:each="template : ${templates}" th:data-template-id="${template.templateId}" th:data-category-id="${template.categoryId}" class="template">
                <a th:href="@{/template/{id}(id=${template.templateId})}" th:text="${template.templateName}" class="template-link">Какой-то шаблон</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Все права защищены</p>
</footer>

<script src="/js/selection/selection.js"></script>\
</body>
</html>

