<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка шаблона</title>
    <link rel="stylesheet" href="/css/upload-template/general.css">
    <link rel="stylesheet" href="/css/upload-template/field_replcae.css">
    <link rel="stylesheet" href="/css/upload-template/dynamic_element.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/footer_no_main.css">

</head>

<body>
<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/select-template">Выбор шаблона</a>
        <a href="/upload_template">Загрузка шаблона</a>
        <a href="/categories">Управление категориями</a>
        <a href="/documents">Архив</a>
    </nav>
</header>

<div class="settings-bar">
    Создайте шаблон и предоставте замены для переменных в нем
</div>

<div class="container">
    <div class="filter">
        <h4>Загрузка шаблона</h4>
        <hr/>
        <form id="uploadForm" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="file">Выберите файл</label>
                <input type="file" name="file" id="file">
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <input type="hidden" id="fileId" name="fileId" value=""> <!-- Скрытое поле для ID -->
            <div class="form-group category-group">
                <label for="categoryId">Категория:</label>
                <select id="categoryId" th:name="categoryId">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.categoryName}">
                        <!-- Каждая категория будет представлена здесь -->
                    </option>
                </select>
            </div>
            <button type="button" class="btn-primary" onclick="uploadTemplate()">Загрузить шаблон</button>
            <hr/>
            <h4>Создайте замены</h4>
            <hr/>
            <div id="words" class="words-block"></div>
        </form>

    </div>
    <!-- Модальное окно -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage"></p>
            <div class="modal-footer">
                <button onclick="closeModal()">Закрыть</button>
            </div>
        </div>
    </div>
    <div class="text">
        <div><p>Поле для текста</p></div>
        <!-- <div class="loader" id="loader" style="display: none;"></div> -->
    </div>
    <button class="toggle-button" id="toggleButton">⮞</button>
</div>

<div class="download-section">
    <div class="overlay" id="overlay" style="display: none;">
        <div class="loader"></div>

    </div>
</div>


<footer>
    <p>&copy; 2024 Все права защищены</p>
</footer>

<script src="/js/upload-template/upload_style_script.js"></script>\
<script src="/js/upload-template/upload_template.js"></script>\
</body>
</html>
