.category-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .category-item button {
            margin-left: 10px;
        }
        .content {
            max-height: 50vh; /* Adjust the height as needed */
            overflow-y: auto;
        }
         .container {
            flex: 1 0 auto;
            padding: 20px;
        }