.container {
            display: flex;
            height: 90vh;
        }
        .search-container {
            flex: 1;
            padding: 20px;
            border-right: 1px solid #ccc;
        }
        .results-container {
            flex: 2;
            padding: 20px;

        }
        .table-container {
            height: calc(100vh - 160px); /* Adjust height based on your header and padding/margin */
            overflow-y: auto;
        }